@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(../Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
   /* height: calc(100vh - 80px); */
}
nav {
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  letter-spacing: 7px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;

}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
 
  
}
a.active,
a:hover {
  background: #52796f;
  transition: 0.5s;
  text-decoration: none;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

section {
  position: relative;
}
/* .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 0;
}
.btn1,
.btn2 {
  background-color: rgba(202, 210, 197, 0.6);
  font-size: 35px;
  padding: 0px 80px;
  margin: 25px 0px;
  border-radius: 12px;
  font-weight: bold;
  color: #354f52;
  text-transform: uppercase;
}
.btn > .btn1:hover,
.btn > .btn2:hover {
  color: white;
  background-color: #52796f;

  cursor: pointer;
}
.btn1 > .name:hover,
.btn2 > .name:hover {
  background-color: #52796f;
}
 */

/* Card  Css begin */
section
{
  border-radius: 1rem;
  padding: 15px;
  margin-top: 70px;
}

/* added new thing to project */


.service-card {
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, .1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, .1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, .1);
  margin-bottom: 10%;
}

.service-card:hover {
  box-shadow: 4px 4px 4px rgba(58, 105, 243, 0.3);
  -webkit-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  transform: translate(0, -8px);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

.service-card i {
  font-size: 150px;
  padding: 10% 0;
  background-color: transparent;  /* change*/
  color: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.service-card:hover i {
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.service-card i:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  /* background: linear-gradient(to left, rgb(0, 131, 76), rgb(27, 118, 119), rgb(27, 111, 112), rgb(1, 110, 65)); */
  background-color: #52796f;
  z-index: -1;
  transition: transform 0.5s;
}

.service-card:hover i::after {
  transform: scaleY(1);
}

.service-card h3 {
  margin-top: 2%;
  font-size: 3vh;
  color: #ffffff;
  background-color: #52796f;
}

.card {
  background-color: rgba(236, 232, 225, 0.5);
  cursor: pointer;
  position: relative;
  display: flex;
  z-index: 0;
}


@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background-color: none;
    color: black;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media (min-width: 580px) 
{
    section 
    {
       height: calc(100vh - 80px);
    }
}

/* .test {
  background-color: none;
  border-radius: 1rem;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 1);
  padding: 15px;
  margin-top: 25px;
} */

