*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.privacy .cover img{
	background-size: cover;
	width: 100%;
}

.privacy .cover .title{
	display: flex;
	justify-content: center;
}

.privacy .cover .title h1{
	width: 80%;
	position: absolute;
    margin: -46%;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 4vw;
    text-align: center;
    color: #FFFFFF;
}

.privacy .btn{
	position: relative;
	display: flex;
    justify-content: center;
    margin: -23%;
}

.privacy .btn .feedback-btn, .rateUs-btn{
	background: #E5E5E5;
    border-radius: 7px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 2vw;
    text-align: center;
    border: none;
    color: #2F3E46;
    padding: 4px 30px;
    margin: 0 7px;
    transition: 0.5s ease;

}

.privacy .btn .feedback-btn:hover, .rateUs-btn:hover{
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
}

.privacy .privacy-text{
	background-color: rgba(0,0,0,0.8);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding: 0 3%;
}

.privacy .privacy-text .privacy-title, .text{
	width: 80%;
	font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #84A98C;
    margin-top: 65%;
}

.privacy .privacy-text .text{
	margin: 5% 0;
}
