/* chnage */
button {
    left: 5px;
    width: 180px;
  }
  
  .sidePanel {
    background: #fff;
  }
  
  /* change */
  .btn {
    background-color: #354f52;
    color: #fff;
  
    border-color: #fff;
  }
  
  .btn.btn-background-slide::before {
    background-color: #fff;
  }
  
  .btn.btn-background-slide:hover,
  .btn.btn-background-slide:focus {
    color: #354f52;
    border: 2px solid #354f52;
  }
  .bdr
  {
    border-style: solid ;
    padding: 5px 10px;
    color: black;
  
  }
  