*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* navbar start*/

.navbar{
	display: flex;
    justify-content: flex-end;
    padding: 2% 2% 0 0;
}

.nav-mobile,
.navbar-toggler{
  	display: none;
  }

.navbar ul li{
	display: inline-block;
}

.navbar ul li a{
	text-decoration: none;
	color: #52796F;
	padding: 5px 20px;
	border: 1px solid #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 28px;
	transition: 0.6s ease;
}

.navbar ul li a:hover{
	background-color: #52796F;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #52796F;
}

.navbar ul li.active a{
	background-color: #52796F;
	color: #fff;
	border-radius: 5px;
}

.navbar .navbar-toggler .toggler-icon{
	position: absolute;
	width: 8%;
	margin: 3%;

}

/* navbar ends*/

.main-title{
	display: flex;
    justify-content: center;
    margin: 2% 0;
    text-transform: uppercase;
}

.challenge-box{
	width: 80%;
    position: relative;
	left: 10%;
	top: 30%;
	padding-bottom: 5%;
    margin-bottom: 5%;
	background: #E5E5E5;
}


.challenge-box .side-line{
	height: 100px;
	background-color: #354F52;
	height: 100%;
	width: 3px;
	position: absolute;
	z-index: 1;
}

.challenge-box-icon{
position: absolute;
    left: -1.2%;
    top: -2.5%;
    width: 30px;
}

.row{
	display: flex;
    justify-content: flex-end;
}

.progress-div {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%
}

.progress-div .progress-title {
    background: rgba(53, 79, 82, 0.1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    font-size: 12px;
    font-family: PT Serif Caption;
    color: #354F52;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    height: 30px
}

.progress{
    height: 7px;
    width: 30%;
    background: #52796F;
    border-radius: 0;
    box-shadow: none;
    margin: 40px 20px 30px;
    overflow: visible;
    position: relative;
    display: flex;
}

.progress .progress-bar{
	height: 7px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

.progress .progress-bar:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    background: #BE5A5A;
    position: absolute;
    right: -5px;
    top: -6px;
}

.progress .progress-value{
    width: 45px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    background: #354F52;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: -17px;
}
.progress .progress-value:after{
    content: "";
    border-top: 7px solid #393a3d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 35%;
}

.progress.red .progress-bar:after{ border: 5px solid #BE5A5A; }
@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}

.row2{
	display: flex;
    flex-direction: column;
    width: 100%;
}

.Challenge{
	margin-bottom: 3px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	background-color: #C4C4C4;
	position: relative;
  	left: -40px;
  	top: 5px;
  	width: 100%; 
  	padding: 10px; 
}

.Challenge:hover{
	box-shadow: 0px 1px 1px rgba(82,121,111,0.4);
}

.Challenge .cont{
	margin-left: 100px;
	margin-right: 15px;
	display: flex;
	justify-content: space-between;
}

.Challenge .cont h2{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

	color: #2F3E46;
}

.Challenge .cont .btn{
	background-color: #BE5A5A;
	font-size: 18px;
	color: #fff;
	padding: 8px;
	padding-left: 30px;
	padding-right: 30px;
	border-style: none;
	border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	margin-top: -6px;
	transition: 0.6s ease;
}

.Challenge .cont .btn:hover{
	background-color: #C4C4C4;
	color: #2F3E46;
	border: 1px solid #2F3E46;
}



/*responsive*/

@media only screen and (max-width: 601px) {

	.header{
		display: flex;
	    justify-content: space-around;
	    margin: 5% 10% 2% 10%;
	}

	.navbar {
		width: 100%;
		padding : 0;
	}

	.nav-mobile,
	.nav-mobile .navbar .nav-res{
	  	display: block;

	  }

  .nav-mobile .navbar{
  	display: flex;
    border: 1px solid #d2d2d2;
    padding: 10px 5px;
    justify-content: flex-start;
    position: absolute;
    z-index: 10;
    background: #f2f2f2;
    border-radius: 5px;
    width: 50%;
    margin: 5px 0;
    display: none;
  }

  .nav-mobile .navbar ul li a{
  	border: none;
  }

  .nav-mobile .navbar-toggler{
  	display: block;
  	background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 30px;
  }

  .nav-mobile:hover .navbar{
  	background-color: #E5E5E5;
  	display: block !important;
  }

  .nav-mobile .navbar-toggler img{
  	width: 100%;
  }


   .modules i{
  		color: #DA494A;
  }

  .navbar .nav-res{
  	display: none;
  }

  .modules a{
  	font-size: 18px;
  	padding: 10px 30px;
  }

  .main-title{
  	margin: 3% 0 5% 0;
  }

  .main-title h1{
  	font-size: 7vw;
  }
}


@media only screen and (max-width: 619px) {
  .Challenge{
  	left: 0px;
  }

	.Challenge .cont{
	  	margin-left: 20px;
	  }

	.Challenge .cont h2{
	  	font-size: 14px;
	  }

	.Challenge .cont .btn{
	  	padding-left: 15px;
		padding-right: 15px;
	  	font-size: 14px;
	  }
}

@media only screen and (max-width: 1024px) {
  .challenge-box-icon{
  	left: -1.7%;
  }
}

@media only screen and (max-width: 768px) {
  .challenge-box-icon{
  	left: -2.1%;
  }
}

@media only screen and (max-width: 576px) {
  .challenge-box-icon{
  	left: -2.8%;
  }
}

@media only screen and (max-width: 425px) {
  .challenge-box-icon{
  	left: -3.7%;
  }
  .progress-div{
  	width: 90%;
  }
  .progress-div .progress-title{
  	font-size: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .challenge-box-icon{
  	left: -4.3%;
  }
}
